body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom right, #ccc, #666);
}

.container {
    text-align: center;
}

.game {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 2px solid #000;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.message {
    margin-top: 20px;
}

button {
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
    border: none;
    border-radius: 20px;
    color: #fff;
    background: linear-gradient(to right, #000, #444);
    cursor: pointer;
}

button:hover {
    background: linear-gradient(to right, #222, #666);
}
